node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Apple Music Private Keys
keys/
*.p8

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/../generated/prisma

# Local uploads (for development)
/static/local-uploads

*storybook.log
storybook-static
backups/
server.log
*.db
